<div class="widget tag">
<p class="asidetitle"><%= __('博主简介') %></p>
<ul class="entry">
<li>程序员，运动爱好者，喜欢足球、篮球，喜欢美食。Java, PHP, Data Mining, Mac, Social Computing, Machine Learning…。</li>
<li>About me<u><i><b><a href="http://zhangyouzhi.com/about/" title="About Me" style="color:red">联系我</a></b></i></u>！欢迎大家^_^！</li>
</ul>
</div>